<!-- <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p> -->

<h1> Welcome Fam</h1>

<br>
<br>


<h5>
  <%= link_to 'Place Saver', root_url %>-
  An app built for you to store your favorite places!
</h5>

<br>
<h5>
  <%= link_to 'Sign Up,', new_user_registration_path %>
  <%= link_to 'Log In,', new_user_session_path%> Explore, and Record Your Favorite Adventures
</h5>
