
<h1>Editing Place</h1>

<%= render 'form', place: @place %>

<%#= link_to 'Delete Place', @place, method: :delete, data: { confirm: 'Are you sure you want to delete this place?' }%>
<br>
<br>

<%= link_to 'Back', :back %>
